@media (min-width: 992px) {
  html {
    font-size: 0.661vw;
  }
}

/* ------ Medium devices (tablets, 991px and down) -----*/

@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }

  /* ---------- Hamburger Menu ------------ */
  .hamburger-menu {
    position: fixed;
    top: 2.7rem;
    left: 1.8rem;
  }

  /* --------- Main Section ------------ */
  .logo img {
    width: 30rem;
  }
  .Rectangle {
    display: none;
  }
  /* --------- Icon Bottom ------------- */
  .icons_section {
    justify-content: space-around;
    height: 10rem;
    padding: 0 6rem;
    gap: 0;
  }
  .icons_section img {
    width: 2.7778rem;
  }
}

/*----- sm devices (tablets, 767px and down) -----*/

@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }

  /* --------- Main Section ------------ */
  .logo img {
    width: 26rem;
  }

  /* --------- Icon Bottom ------------- */
  .icons_section {
    gap: 4.5rem;
    justify-content: space-between;
    padding: 0 3rem;
    overflow-x: scroll;
  }
  .icons_section img {
    width: 2.7778rem;
  }
}

/*----- xs devices (landscape phones, 575px and down) -----*/

@media (max-width: 575px) {
  html {
    font-size: 2.32vw;
  }

  /* --------- Icon Bottom ------------- */
  .icons_section {
    gap: 4.5rem;
    padding: 0 2rem;
    overflow-x: scroll;
  }
}
