@media (min-width: 992px) {
  html {
    font-size: 0.661vw;
  }
}

/* ------ Medium devices (tablets, 991px and down) -----*/

@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }

  /* ---------- Hamburger Menu ------------ */
  .hamburger-menu {
    position: fixed;
    top: 2.7rem;
    left: 1.8rem;
  }

  /* --------- Main Section ------------ */
  .logo img {
    width: 30rem;
  }

  /* --------- Icon Bottom ------------- */
  .icons_section {
    justify-content: space-around;
    height: 12.2rem;
    padding: 0 6rem;
    gap: 0;
  }
  .icons_section img {
    width: 2.7778rem;
  }
  .line {
    position: absolute;
    width: 13.4rem;
    height: 0.5rem;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 10rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
  }
}

/*----- sm devices (tablets, 767px and down) -----*/

@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }

  /* --------- Main Section ------------ */
  .logo img {
    width: 26rem;
  }

  /* --------- Icon Bottom ------------- */
  .icons_section {
    gap: 0rem;
    justify-content: space-between;
    padding: 0 8rem;
  }
  .icons_section img {
    width: 2.7778rem;
  }
}

/*----- xs devices (landscape phones, 575px and down) -----*/

@media (max-width: 575px) {
  html {
    font-size: 2.32vw;
  }

  /* --------- Icon Bottom ------------- */
  .icons_section {
    gap: 0rem;
    padding: 0 2rem;
  }
}
